<div class="header-bg position-absolute">
    <img src="/img/conan-chibi-frog-kitchen-bg.svg" width="100%"/>
</div>


<header id="masthead">
    <div class="container">
        <div class="row d-flex justify-content-between">
            <a class="col-10 col-lg-4 d-block" href="/index.html"><img
                alt="Conan C++ Package Manager" class="header-logo" src="/img/conan-logo.svg"></a>
            <div class="col-2 d-flex d-lg-none align-items-center justify-content-end">
                <button
                        class="d-block d-lg-none hamburger hamburger--collapse text-right" type="button"><span
                        class="hamburger-box"><span class="hamburger-inner"></span></span></button>
            </div>
            <div class="col-lg-4 text-right d-flex align-items-center justify-content-end">
                <nav class="header-nav align-items-center d-lg-flex" id="headerNav">
                    <!--Conan-Center-->
                    <a href="https://conan.io/center/" class="btn conan-blue-border">
                        <!-- <img src="/img/small-search.svg" alt="Search" class="conan-center-icon mr-2 black"> -->
                        ConanCenter
                    </a>
                    <!-- FAQ -->
                    <a href="/faq.html" class="btn black">
                        FAQ
                    </a>
                    <!-- Docs -->
                    <a href="https://docs.conan.io/" class="btn black">
                        Docs
                    </a>
                    <!-- Blog -->
                    <a href="https://blog.conan.io/" class="btn black">
                        Blog
                    </a>
                    <!-- Github -->
                    <a class="btn p-0 mr-3" href="https://github.com/conan-io/conan"
                       rel="nofollow noopener noreferrer" target="_blank">
                        <img src="/img/small-github.svg" height="85%" alt="Github">
                    </a>
                    <div class="downloads-cta arrow-cta">
                        <div class="button_cont">
                            <a href="/downloads.html" class="btn conan-blue-gradient-bg white font-weight-bold" id="download_btn_header">
                                <span>
                                    Downloads
                                </span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>